<div  style="30px" id="map"></div>

<form action="/maps" method="POST">
            <div class="form-group">
                <input name="location" type="text" class="form-control" id="location">
            </div>
            <button type="submit" id="button" class="btn btn-dark btn-block btn-lg">Publica tu obra</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}

</form>

<script src="/javascripts/maps.js"></script>


<h1>{{location}}</h1>
