<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="text" id="worksField"  autocapitalize="off" placeholder="¿Qué estás buscando?">
<button id="getInfo" class="btn btn-dark btn-sm">Consultar</button>
<div class="container">
    <div class="row" id="works">
       
        
      
    </div>
</div>

<script src="/javascripts/api-handlers.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    


    <ul id="works"></ul>

    

