<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="text" id="worksField"  autocapitalize="off" placeholder="¿Qué estás buscando?">
<button id="getInfo" class="btn btn-dark btn-sm">Consultar</button>
=======

<img id="logo" src="/images/logo.jpg" alt="Logo">

<input type="text" id="worksField" placeholder="¿Qué estás buscando?">

>>>>>>> 1befe7cfdfb74fb837a2e0ef3ec749a75b924a56
<div class="container">
    <div class="row" id="works">
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/api-handlers.js"></script>
<script src="/javascripts/app.js"></script>


<<<<<<< HEAD

    <ul id="works"></ul>
=======
>>>>>>> 1befe7cfdfb74fb837a2e0ef3ec749a75b924a56


