<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/works/create"> Go to create works</a>
<a href="/works/">Go to view works</a>
<a href="works/my-works/{{id}}">Go to view MY Works</a>
{{worksUser}}
