@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.userListImage{

  height: 50px;
  object-fit: cover;

}

.userEditImage{

  height: 100px;
  object-fit: cover;

}

.indexImage{
  width: 90%;
  height: 300px;
  object-fit: contain;
}

.glideImage{
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.oculto{
  display:none;
  
}

.lista{
  display: flex;
}

.glide{
  margin-top:25px;
}

