@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

#map {
    overflow: visible;
    width: 300px;
    height: 350px;
}


body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.userListImage{

  height: 50px;
  object-fit: cover;

}

.userEditImage{

  height: 100px;
  object-fit: cover;

}

.indexImageDetail{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 14% 3px 14% 3px;
}

.indexImage{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.indexImage:hover{
   transform: scale(1.1);
   transition: transform .2s;
}

.glideImage{
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.oculto{
  display:none;
  
}

.lista{
  display: flex;
}

.glide{
  margin-top:25px;
}

#worksField{
    margin: 20px auto;
    width: 50%;
    border-radius: 20px;
    height: 46px;
    display: block;
    outline: none; 
    border: 1px solid lightgray;
    margin-bottom: 65px;
}

#worksField::placeholder {
  color: gray;
  font-size: 1em;
  
  
}

input{
  padding:0 20px
}



//Like button

/* Container needed to position the button. Adjust the width as needed */
.containerLike {
  position: relative;
  width: 90%;
}

/* Make the image responsive */
.containerLike img {
  width: 110%;
  height: 300px;
}

/* Style the button and place it in the middle of the container/image */
.containerLike .btn {
  position: absolute;
    top: 91%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  height: 44px;
  background-color:rgba(218, 224, 229,0.37)
  
}

.containerLike .btn:hover {
  filter: hue-rotate(90deg);
}


.containerLike .imageUserLittle{
  width:50px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.workDescription{
  margin-top: -10px;
}

.workPrice{
  margin-top:-19px;
}

#logo{
  display:block;
  width: 70%;
  margin:0 auto;
  margin-top: -50px;
}

.containerIndex{
  margin-bottom: 18px;
}

.nameCard{
  text-decoration: none;
  color:gray
}

.nameCard:hover{
  color:black
}

#price-btn{
    background-color: rgba(255, 0, 0, 0.35);
    position: absolute;
    top: 80%;
    left: 95%;
    height: 0%;
    line-height: 0;
    color:white;
    text-align: center;
}

.disable-button{
background-color: blue;
}

.followUserImage{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.cards{
  display:flex;
  flex-direction: row;
  margin: 20px 15px;
  flex-wrap: wrap;
}

.card-body {
     text-align: center;
}

.card-img, .card-img-bottom, .card-img-top {
    height: 65px;
    object-fit: contain;
}

.profileHead{
  margin-bottom:25px;
}

.profileDetail{
  color:black;
  text-decoration: none;
}

.profileDetail:hover{
   color:rgb(143, 97, 97);
  text-decoration: none;
}

.card{
  margin: 0 4px;
  padding: 15px;
  border:none;
  border-bottom: 1px rgb(224, 206, 206) solid;
}

.totalPrice{
  margin:1px;
}


.btn-heart{
  width: 5%;
  height: 5%;
}

.btn-back{
  width: 4%;
  position:fixed;
} 
.cabecera{
  background-color: black;
}

//Media Queries

@media (min-width: 481px) and (max-width: 767px) {
  
  #logo{
  display:block;
  width: 100%;
  margin:0 auto;
  margin-top: -50px;
}
  
#worksField {
    
    width: 90%;
}
}


@media (min-width: 320px) and (max-width: 480px) {
  
 #logo{
  display:block;
  width: 100%;
  margin:0 auto;
  margin-top: -50px;
}

#worksField {
  width: 90%;
}

.btn-back{
  width: 6%;
  position:fixed;
  top:14%;
} }