@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.userListImage{

  height: 50px;
  object-fit: cover;

}

.userEditImage{

  height: 100px;
  object-fit: cover;

}

.indexImage{
  width: 90%;
  height: 300px;
  object-fit: contain;
}

.glideImage{
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.oculto{
  display:none;
  
}

.lista{
  display: flex;
}

.glide{
  margin-top:25px;
}

#worksField{
    margin: 20px auto;
    width: 50%;
    border-radius: 20px;
    height: 46px;
    display: block;
    outline: none; 
    border: 1px solid lightgray;
}

#worksField::placeholder {
  color: gray;
  font-size: 1em;
  
  
}

input{
  padding:0 20px
}



//Like button

/* Container needed to position the button. Adjust the width as needed */
.containerLike {
  position: relative;
  width: 90%;
}

/* Make the image responsive */
.containerLike img {
  width: 90%;
  height: 300px;
}

/* Style the button and place it in the middle of the container/image */
.containerLike .btn {
  position: absolute;
  width: 5%;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: red;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.containerLike .btn:hover {
  background-color: black;
}