<<<<<<< HEAD
<h1>Panel de control del User</h1>


<a  href="/users">Usuarios (solo admin)</a>
<a  href="/works">Obras (solo admin)</a>
=======
<h1>Panel de control del User</h1>


<a class="btn btn-dark" href="/users">Usuarios (solo admin)</a>
<a class="btn btn-dark" href="/works">Obras (solo admin)</a>
>>>>>>> master
